<div class="row mt-3 mb-3">
	<div class="col">
		<p class="text-secondary">
			{{ count }} {{ (count > 1) ? 'products' : 'product'}}
		</p>
	</div>
</div>
<div class="row">
	{% for article in articles %}
	    <div class="col-xs-12 col-md-6 col-lg-3 text-center mb-4">
	    	<div class="row">
	    		<div class="col-10 offset-1 item">
	    	    	<div class="row">
	    	    		<div class="col special-padding">
	    	    			<img src="{{ article.img }}" alt="yeeply" class="w-100">
	    	    		</div>
	    	    	</div>
	    	    	<div class="row mt-3">
	    	    		<div class="col">
	    	    			<p>
	    	    				{{ (article.name|length > 13) ? article.name|slice(0, 13) ~ '...' : article.name }} 
	    	    				<a href="#" class="icon-tooltip" data-toggle="tooltip" data-placement="top" data-container="body" title="" data-original-title="{{ article.description }}" title="">
	    	    					<i class="fas fa-info-circle"></i>
	    	    				</a>
	    	    			</p>
	    	    		</div>
	    	    	</div>
	    	    	<div class="row mb-3">
	    	    		<div class="col">
	    	    			<a href="/article/{{ article.id }}/buy" class="btn btn-success btn-item text-uppercase">
	    	    				buy
	    	    			</a>
	    	    		</div>
	    	    	</div>
	    		</div>
	    	</div>
	    </div>
	{% endfor %}
</div>

<script type="text/javascript">
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	});
</script>