
	<header class="bg-white">
		<div class="row">
			<div class="col">
				<div class="container">
					<div class="row mt-2 mb-2">
						<div class="col-3">
							<a href="/" title="yeeply">
								<img src="{{ asset('img/yeeply-logo.png') }}" alt="yeeply" class="logo-img">
							</a>
						</div>
						<div class="col-9 text-right">
							<a href="second-section" class="ml-3 text-secondary text-uppercase">
								Sección 2
							</a>
							<a href="#" class="ml-3 text-secondary text-uppercase">
								Entrar
							</a>
							<a href="#" class="ml-3 text-secondary text-uppercase">
								Entrar
							</a>
							<a href="#" class="ml-3 btn btn-primary-yeeply text-white text-uppercase">
								Lorem Ipsum
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row bg-real-black text-white">
			<div class="col mt-5 mb-5 pb-4">
				<div class="container text-center">
					<div class="row">
						<div class="col">
							<h2 class="jumbo-title">Lorem Ipsum</h2>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<p class="jumbo-text">Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.</p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<a href="#" class="btn btn-primary-jumbo text-white">
								Lorem Ipsum
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>