{% extends 'base.html.twig' %}

{% block header %}
	{% include 'default/header.html.twig' %}
{% endblock %}

{% block body %}
	<div class="content pt-5 pb-5 text-center">
		<div class="row">
			<div class="col">
				<a href="#" class="btn btn-lg btn-success btn-load">
					Cargar contenido
				</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		$('a.btn-load').on('click', function (e) {
			e.preventDefault();

			ajaxLoadContent();
		});

		function ajaxLoadContent()
		{
			$.ajax({
	            method: "POST",
	            url: 'ajax-load',
	            success: function (response) {
					$('.content').empty();
					$('.content').removeClass('text-center');
					$('.content').html(response);
	            }
	        })
	        .fail(function( jqXHR, textStatus ) {
	            console.log( jqXHR );
	            console.log( "Request failed: " + textStatus );
	        });
		}
	</script>
{% endblock %}