/* ==========================================================================
   Custom CSS for Test Exercises
   ========================================================================== */
*
{
	font-family: Montserrat,sans-serif;
}

.no-padding
{
	padding: 0 !important;
}

.btn-primary-yeeply
{
	background: #499DED;
	border-color: #499DED;
	transition: color .15s ease,background-color .15s ease,border-color .15s ease;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
	padding: .5em 2em;
}

.btn-primary-yeeply:hover
{
	background: #74D5EE;
	border-color: #74D5EE;
}

.btn-primary-jumbo
{
	background: #499DED;
	border-color: #499DED;
	transition: color .15s ease,background-color .15s ease,border-color .15s ease;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
	padding: 2em 2em;
	border-radius: 16px;
}

.btn-primary-jumbo:hover
{
	background: #74D5EE;
	border-color: #74D5EE;
}

.jumbo-title
{
	font-weight: lighter;
    line-height: 1.2;
	font-size: 5rem;
	margin-top: 5rem;
    margin-bottom: 3rem;
}

.jumbo-text
{
	font-weight: lighter;
	font-size: 18px;
	line-height: 30px;
    font-weight: 300;
    margin-bottom: 3em;
}

.bg-content
{
	background: #EDEDED;
}

.item
{
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,.3);
	border: 1px #EEE solid;
	background: #FFF;
}

.special-padding
{
	padding-left: 10px;
	padding-right: 10px;
}

.btn-item
{
	border-radius: 0px;
}

.bg-real-black
{
	background: #000;
}

.logo-img
{
	width: 100%;
	max-width: 120px;
}

.content
{
	min-height: 500px;
}

.tooltip-inner {
    max-width: 100% !important;
}